@import "tailwindcss";

.news-scroll {
	scrollbar-width: thin;
}

.news-scroll-dark {
	scrollbar-color: #52525b #18181b;
}

.news-scroll-light {
	scrollbar-color: #a1a1aa #f4f4f5;
}

.news-scroll::-webkit-scrollbar {
	width: 10px;
}

.news-scroll-dark::-webkit-scrollbar-track {
	background: #18181b;
}

.news-scroll-dark::-webkit-scrollbar-thumb {
	background: #52525b;
	border-radius: 9999px;
	border: 2px solid #18181b;
}

.news-scroll-dark::-webkit-scrollbar-thumb:hover {
	background: #71717a;
}

.news-scroll-light::-webkit-scrollbar-track {
	background: #f4f4f5;
}

.news-scroll-light::-webkit-scrollbar-thumb {
	background: #a1a1aa;
	border-radius: 9999px;
	border: 2px solid #f4f4f5;
}

.news-scroll-light::-webkit-scrollbar-thumb:hover {
	background: #71717a;
}
